.info__container {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.about,
.payment,
.delivery,
.contact,
.requisites,
.purchaseReturns {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

.info__container h1 {
    margin-bottom: 1em;
}

.delivery>ol {
    margin-bottom: 1.25em;
}

.about>h3,
.contact>h3,
.purchaseReturns>h3 {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 1.25em;
}

.purchaseReturns>h3 {
    margin-top: 1.25em;
}

.delivery>h3,
.payment>h3 {
    font-weight: 400;
    margin-bottom: 1.25em;
}

.delivery>ol>li,
.payment>ol>li {
    font-weight: 400;
    margin-left: 2.5em;
    margin-bottom: 0.5em;
}

.delivery>p {
    font-weight: 600;
    font-style: italic;
}

.about>p,
.contact>p {
    margin-bottom: 1.25em;
}

.about>ul,
.purchaseReturns>ul {
    margin-left: 2em;
}

.about>ul>li,
.purchaseReturns>ul>li {
    margin-bottom: 0.5em;
}

.contact>ul>li {
    margin-bottom: 0.5em;
    list-style: none;
}

.requisites>p,
.purchaseReturns>p {
    margin-bottom: 0.5em;
}

.requisites>p>span {
    opacity: 0.5;
}