.content__container {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.layout__content {
    display: grid;
    gap: 2rem;
    grid-template-areas:
        "list sales";
    grid-template-columns: 3fr 7fr;
    margin: 0 auto;
    width: 80%;
    max-width: 1920px;
}

.layout__sales {
    grid-area: sales;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collection-list {
    grid-area: list;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
}

.area-link {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;
}

.link {
    display: flex;
    justify-content: left;
    align-items: center;
}

.area-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 1em;
    background-color: var(--color-yellow);
}

.link-icon {
    height: 75%;
    width: 50%;
}

.link>p {
    transition: all 0.3s ease;
}

.link:hover>p {
    opacity: 0.5;
}

.layout__sales {
    background-color: var(--color-gray);
}

.sales-img {
    width: 100%;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    gap: 10px;
}

.out-text {
    opacity: 0.5;
    margin-top: 0.5rem;
}

.banner-btn {
    background-color: var(--color-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 10rem;
}

@media (max-width: 1250px) {
    .layout__content {
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-areas:
            "list list list"
            "sales sales sales";
    }

    .collection-list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 10px;
    }

    .layout__sales {
        margin-top: 15px;
    }
}

@media (max-width: 768px) {

    .collection-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .banner {
        flex-direction: column;
        align-items: flex-start;
    }

    .area-icon {
        display: none;
    }

    .link {
        display: inline-block;
        background-color: var(--color-gray);
        padding: 3px 6px;
        border-radius: 10px;
    }

    .link p {
        display: inline;
    }
}