.sales__container {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.sales {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    grid-gap: 20px;
    margin: 0 auto;
    width: 80%;
    max-width: 1920px;
}

.el {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.el-large {
    grid-area: 1 / 2 / 3 / 4;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sales img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.sales img:hover {
    scale: 1.05;
}

@media (max-width: 1720px) {
    .sales img {
        border-radius: 15px;
    }
}

@media (max-width: 1350px) {
    .sales img {
        border-radius: 10px;
    }
}

@media (max-width: 920px) {
    .sales img {
        border-radius: 5px;
    }
}

@media (max-width: 520px) {
    .sales img {
        border-radius: 2px;
    }
}