@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

.footer__container {
    display: flex;
    justify-content: center;
    background-color: var(--color-black);
    box-shadow: 0 -2px 3px var(--color-shadow);
    padding-bottom: 75px;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin: 0 auto;
    width: 80%;
    max-width: 1920px;
}

.footer-top {
    height: 1.5em;
    font-size: 3em;
    font-weight: 800;
    color: var(--color-white);
}

.footer-top>a {
    color: inherit;
}

.footer-bottom {
    padding-bottom: 25px;
    border-bottom: solid 2px;
    border-color: var(--color-white);
}

.footer__area-menu {
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
    gap: 10px;
}

.menu-list {
    color: var(--color-white);
}

.menu-title {
    font-size: 1.25em;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 1em;
}

.menu-link {
    color: var(--color-white);
    list-style: none;
    margin-bottom: 0.75em;
}

.menu-link>a {
    color: var(--color-white);
    transition: all 0.2s ease;
}

.menu-link>a:hover {
    opacity: 0.5;
}

.sidebar-title {
    font-size: 1.25em;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 1em;
}

.sidebar-phone,
.sidebar-address {
    color: var(--color-white);
    font-size: 1.1em;
    font-weight: 400;
}

.sidebar-address {
    margin-top: 1em;
    margin-bottom: 2em;
}

.sidebar-icons {
    display: flex;
    justify-self: center;
    align-items: center;
}

.sidebar-icon {
    height: 100%;
    margin-right: 1.5em;
}

.tg-icon,
.vk-icon,
.youtube-icon {
    color: var(--color-white);
    font-size: 2em;
}