.footer__container {
    display: flex;
    justify-content: center;
    background-color: var(--color-black);
    box-shadow: 0 -2px 3px var(--color-shadow);
    padding-bottom: 75px;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin: 0 auto;
    width: 80%;
    max-width: 1920px;
}

.footer-top {
    height: 1.5em;
    font-size: 3em;
    font-weight: 800;
    color: var(--color-white);
}

.footer-top>a {
    color: inherit;
}

.footer-bottom {
    padding-bottom: 25px;
    border-bottom: solid 2px;
    border-color: var(--color-white);
}

.footer__area-menu {
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
    gap: 10px;
}

.menu-list {
    color: var(--color-white);
}

.menu-open {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.menu-title {
    font-size: 1.25em;
    font-weight: 700;
    color: var(--color-white);
}

.menu-link {
    color: var(--color-white);
    list-style: none;
    margin-bottom: 0.75em;
}

.menu-link>a {
    color: var(--color-white);
    transition: all 0.2s ease;
}

.menu-link>a:hover {
    opacity: 0.5;
}

.sidebar-title {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    font-weight: 700;
    color: var(--color-white);
    height: 3rem;
    margin-bottom: 0.5rem;
}

.sidebar-phone,
.sidebar-address {
    color: var(--color-white);
    font-size: 1.1em;
    font-weight: 400;
}

.sidebar-phone {
    display: block;
}

.sidebar-address,
.sidebar-phone {
    margin-bottom: 1rem;
}

.sidebar-icons {
    display: flex;
    justify-self: center;
    align-items: center;
}

.sidebar-icon {
    height: 100%;
    margin-right: 1.5em;
}

.tg-icon,
.vk-icon,
.youtube-icon {
    color: var(--color-white);
    font-size: 2em;
}

.open-button {
    display: none;
    background-color: var(--color-black);
    border: none;
    width: 4rem;
    cursor: pointer;
}

.arrow-icon {
    color: var(--color-white);
}

@media (max-width: 800px) {
    .footer__area-menu {
        flex-direction: column;
    }

    .open-button {
        display: block;
    }

    .menu-item__border-top {
        border-top: solid;
    }

    .menu-item {
        border-bottom: solid;
        border-color: var(--color-white);
        padding: 10px 0px;
        border-width: 1px;
    }

    .menu-item__border-hide {
        border: none;
    }

    .footer__area-menu {
        gap: 0px;
    }
}